#title-boom
{
    display:block;
    width:100px;
    height:100px;
    padding:10px;
    background:blue;
    text-decoration:none;

    -webkit-transition-property: 
    -webkit-transition-duration: 
    -webkit-transition-property: 
    -webkit-transition-property: 
