html,body,section
{
    height:100%;
    margin: 0;
    display:block;
}
a#centerImage
{
    position: relative;
    margin: 0 auto;

    height:100px;
    width:200px;
    top:50px;

    min-height: 100px;
    min-width: 200px;

    border:1px solid;
    border-radius: 4px;
    text-align:center;

    display:flex;
    //-webkit-box-align: center;
    justify-content:center;
    align-items: center;
    background: rgba(200,180,90,0.3);

    box-shadow: 5px 5px 5px;

    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-dylay: 0.5s;
}
a#centerImage:hover
{
    font-size:18px;
    background:red;
}
a#centerImage:active
{
    font-color: blue;
}
a#cameraGui
{
    position: relative;
    top:10px;
    left:10px;
}
ul#nav
{
    display:flex;
    align-items: center;

    padding: 20px 20px;
    position: relative;
    top:10px;
    height:10px;
    width : 80%;
    margin:0 auto;
    background: #777777;
    border:none;
    border-radius:45px;
    list-style:none;

    background:-webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#777777));
}
ul#nav li
{
    float:left;
    margin:3px 30px;
}
ul#nav li.current a
{
    background:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1));

    box-shadow:0 3px 2px rgba(77, 77, 77, 0.5);
}
ul#nav li > a
{
    width: 15px;
    padding : 5px 15px;
    border-radius:1.6em;
    -webkit-border-radius:1.6em;
    text-decoration:none;
    color: #555555;

}
ul#nav li > a:hover
{
    background:-webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#999999));
    box-shadow:0 4px 3px rgba(77, 77, 77, 0.5);
}
ul#nav li > a:active
{
    box-shadow:0 0 0 0 rgba(0,0,0,0);
}
